<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>

    <!-- NativeAOT: supported since Windows App SDK 1.6 -->
    <PublishAot>true</PublishAot>

    <PublishDir>bin\publish\win-x64</PublishDir>
  </PropertyGroup>
</Project>
